body{
    background-color: #131b15;
    padding-top: 80px;
}

body div main .container,
body nav .container{
    min-width: 100%;
    width: 100%;
}

.logo{
    font-family: 'Press Start 2P', cursive;
}

.card-header {
    font-family: 'Press Start 2P', cursive;
    background: #e7d05b;
}

#chart-container {
    width: 100%;
    height: 400px;
  }

  iframe {
    width: 100%!important;
}

.chartsV h2{
    color: #e7d05b;
    font-family: 'Press Start 2P', cursive;
}

.noBorder{
    padding: 0px;
    margin: 0px;
}

.chartsV .card .card-body {
    background-image: url('../arbit.gif');
    background-size: 70px;
}

.inDev {
    background-image: url(../loading.gif);
    height: 170px;
    background-size: cover;
    background-position: center -240px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.menuOnMobile{
    display: none;
}



@media (max-width:768px){
    nav.navbar.navbar-expand-md.navbar-light.navbar-laravel {
        position: fixed;
        z-index: 999999;
        left: 0;
        right: 0;
    }

    .menuOnMobile{
        display: block;
    }


    .onMobileNeedSpace{margin-bottom:20px}
}