body{
    background-color: #131b15;
    padding-top: 80px;
}

body div main .container,
body nav .container{
    min-width: 100%;
    width: 100%;
}

.logo{
    font-family: 'Press Start 2P', cursive;
}

.card-header {
    font-family: 'Press Start 2P', cursive;
    background: #e7d05b;
}

#chart-container {
    width: 100%;
    height: 400px;
  }

  iframe {
    width: 100%!important;
}

.chartsV h2{
    color: #e7d05b;
    font-family: 'Press Start 2P', cursive;
}

.noBorder{
    padding: 0px;
    margin: 0px;
}

.chartsV .card .card-body {
    background-image: url('../images/tradebit.gif');
    background-size: 70px;
}

.inDev {
    background-image: url(../images/loading.gif);
    height: 170px;
    background-size: cover;
    background-position: center -240px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.menuOnMobile{
    display: none;
}


.card-header {
    background-image: url('../images/pizza.gif');
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: calc(100% - 9px) center;
}

div#updateAlert {
    position: fixed;
    z-index: 9999;
    bottom: 9px;
    right: 9px;
}


@media (max-width:1366px){
    #app div .col-md-6.page,
    #app div .col-md-6.page2 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    #app div .col-md-6.page2 {
        padding: 30px;
    }

    div#updateAlert {
        position: fixed;
        z-index: 9999;
        bottom: 9px;
        left: calc(50% - 175px);
    }

    .row.mbfix.chartsV {
        margin-bottom: 70px!important;
    }
}

@media (max-width:700px){
    nav.navbar.navbar-expand-md.navbar-light.navbar-laravel {
        position: fixed;
        z-index: 999999;
        left: 0;
        right: 0;
    }

    .menuOnMobile{
        display: block;
    }


    .onMobileNeedSpace{margin-bottom:20px}

    div#updateAlert {
        position: fixed;
        z-index: 9999;
        bottom: 9px;
        left: calc(50% - 175px);
    }

    .row.mbfix.chartsV {
        margin-bottom: 70px!important;
    }
}

#cotation hr {
    width: 100%;
}

img.rounded.mr-2 {
    max-width: 45px;
}

div#swal2-content {
    text-align: left;
}

.card-body.noBorder.historyPrices {
    max-height: 210px;
    overflow: auto;
}

.bits-logo {
  width: 45px;
}


/* big screen */
@media screen and (min-width: 1245px) {

}
/* medium screen */
@media screen and (min-width: 910px) and (max-width: 1244px) {
}

/* tablet screen */
@media screen and (min-width: 630px) and (max-width: 909px) {
}

/* mobile screen */
@media screen and (max-width: 629px) {
  .bits-logo {
    width: 35px;
  }

}
