<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <!-- CSRF Token -->
    <meta name="csrf-token" content="IKJYu7O4PpWWk2qXze4QOhRLukQztezB77z5neXw">

    

    <title>Trade Bits</title>
    <meta name="description" content="O Trade Bits, tem como foco auxiliar traders a realizarem suas arbitragens de maneira mais simples, informando sobre o mercado externo e capturando dados das exchanges brasileiras, para facilitar o giro entre as Exchanges que fazem parte do Grupo Bitcoin Banco">
    <meta name="og:title" property="og:title" content="Trade Bits - Dashboard dos Profissionais">
    <meta name="og:title" property="og:description" content="O Trade Bits, tem como foco auxiliar traders a realizarem suas arbitragens de maneira mais simples, informando sobre o mercado externo e capturando dados das exchanges brasileiras, para facilitar o giro entre as Exchanges que fazem parte do Grupo Bitcoin Banco">
    <meta property="og:image" content="arbit.gif">
    <meta property="og:image:type" content="image/gif">
    <meta name="robots" content="index, follow">
    <link href="http://tradebits.exchange" rel="canonical">


    <!-- Scripts -->
    <script src="js/app.js"></script>
    <script src="js/axios.js"></script>
    
    

    <link rel="shortcut icon" href="arbit.gif" type="image/x-icon">
    <link rel="icon" href="arbit.gif" type="image/x-icon">

    <!-- Fonts -->
    
    

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <script type="text/javascript" src="https://static.cryptowat.ch/assets/scripts/embed.bundle.js"></script>
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
            <div class="container">
                <a class="navbar-brand logo" href="index.html">
                    <img src="arbit.gif" style="width: 45px;">
                    <span>Trade Bits</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">
                        
                    </ul>

                    <!-- Right Side Of Navbar -->
                </div>
            </div>
        </nav>

        <main class="py-4">
            <div class="container" id="app">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                                <div class="col-md-6 onMobileNeedSpace">
                                    <div class="card border-0 shadow-sm">
                                        <div class="card-header">
                                            Como Usar
                                        </div>
                                        <div class="card-body">
                                            <ul>
                                                <li>Adicione o valor que iniciára a rodada no Bloco ROI</li>
                                                <li>Verifique se antes de inciar um ciclo os valores de ganho não estão negativos <br>isso pode afetar os seus ganhos</li>
                                                <li>Acompanhe o giro e informe caso o valor de ganho não esteja de acordo com o seu giro, isso me ajuda a evoluir sempre!</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card border-0 shadow-sm">
                                        <div class="card-header">
                                            Configurações
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="card-text">
                                                        Entrada de Ciclo
                                                    </span>
                                                    <br>
                                                    <div class="form-row">
                                                        <div class="col-md-12">
                                                            <div class="input-group input-group-sm">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text" id="basic-addon2">R$</span>
                                                                </div>
                                                                <input type="number" min="1" max="120" class="form-control" placeholder="10.000,00">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                        <span class="card-text">
                                                            Taxas
                                                        </span>
                                                        <br>
                                                        <div class="form-row">
                                                            <div class="col-md-6">
                                                                <small>Oferta Ativa</small>
                                                                <div class="input-group input-group-sm">
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text" id="basic-addon2">%</span>
                                                                    </div>
                                                                    <input type="number" min="1" max="120" class="form-control" placeholder="0.5%">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <small>Oferta Passiva</small>
                                                                <div class="input-group input-group-sm">
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text" id="basic-addon2">%</span>
                                                                    </div>
                                                                    <input type="number" min="1" max="120" class="form-control" placeholder="0.3%">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <small>Saque Crypto</small>
                                                                <div class="input-group input-group-sm">
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text" id="basic-addon2">%</span>
                                                                    </div>
                                                                    <input type="number" min="1" max="120" class="form-control" placeholder="0.0003">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <small>Saque BRL</small>
                                                                <div class="input-group input-group-sm">
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text" id="basic-addon2">%</span>
                                                                    </div>
                                                                    <input type="number" min="1" max="120" class="form-control" placeholder="0.9%">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
            
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 onMobileNeedSpace">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-header">
                                        <i class="fal fa-sync float-right ml-2" v-bind:class="{ 'fa-spin': temEthBtcUpdate }" v-on:click="temEthBtcUpdate = !temEthBtcUpdate"></i>
                                        Tem BTC > NegocieCoins
                                    </div>
                                    <div class="card-body">
                                        Probabilidade de passiva: 
                                        <br><span class="badge badge-secondary">Se ficar verde o <i class="fal fa-chart-line"></i>, existe possibilidade de passiva.</span>
                                        <br>- (TemBTC) [BTC/BRL] <i class="fal fa-chart-line float-right" v-bind:class="{ 'green': temBtcBrlPassiva }" v-on:click="temBtcBrlPassiva = !temBtcBrlPassiva"></i>
                                        <br>- (NegocieCoin) [BRL/BTC] > <i class="fal fa-chart-line float-right" v-bind:class="{ 'green': negocieBtcBrlPassiva }" v-on:click="negocieBtcBrlPassiva = !negocieBtcBrlPassiva"></i>
                                        <br>-
                                        <hr>
        
                                        <small class="font-weight-bold"><i class="far fa-usd-circle"></i></small>
                                        
                                        <small>Spread: <span>{{ (negocieBtcBrl_ultimoPreco - temBtcBrl_ultimoPreco) | currencydecimal }}</span></small>
                                        <br>
                                        <small class="font-weight-bold"><i class="far fa-clock"></i></small>
                                        <br>
                                        <small></small>
                                        <div class="text-left">
                                            <br>Valor Pós Ciclo: <span class="float-right">R$ {{ temTotalCicloBREx }}</span>
                                            <br>Ganho R$: <span class="float-right">R$ {{ temTotalCicloBRExInvestimento }}</span>
                                            <br>Ganho Percentual: <input type="text" v-model="lucroTemNegocie" disabled class="float-right" style="text-align: right;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-header">
                                            <i class="fal fa-sync float-right ml-2" v-bind:class="{ 'fa-spin': temEthBtcUpdate }" v-on:click="temEthBtcUpdate = !temEthBtcUpdate"></i>
                                            
                                        Bat > Tem BTC > NegocieCoins
                                    </div>
                                    <div class="card-body">
                                        Probabilidade de passiva:
                                        <br><span class="badge badge-secondary">Se ficar verde o <i class="fal fa-chart-line"></i>, existe possibilidade de passiva.</span>
                                        <br>- (Bat Exchange) [BRL/ETH] > <i class="fal fa-chart-line float-right" v-bind:class="{ 'green': batEthBrlPassiva }" v-on:click="batEthBrlPassiva = !batEthBrlPassiva"></i>
                                        <br>- (TemBTC) [BTC/ETH] > <i class="fal fa-chart-line float-right" v-bind:class="{ 'green': temEthBtcPassiva }" v-on:click="temEthBtcPassiva = !temEthBtcPassiva"></i>
                                        <br>- (NegocieCoin) [BRL/BTC] > <i class="fal fa-chart-line float-right" v-bind:class="{ 'green': negocieBtcBrlPassiva }" v-on:click="negocieBtcBrlPassiva = !negocieBtcBrlPassiva"></i>
                                        <hr>
                                        <small class="font-weight-bold"><i class="far fa-usd-circle"></i></small>
                                        <small>ETHBTC(Binance) <span>{{ binanceEthBtc_ultimoPreco }}</span></small>
                                        <br>
                                        <small class="font-weight-bold"><i class="far fa-usd-circle"></i></small>
                                        <small>ETHBTC(TemBTC) <span>{{ temEthBtc_ultimoPreco }}</span></small>
                                        <div class="text-left">
                                            <br>Valor Pós Ciclo: <span class="float-right">R$ {{ batTotalCicloBREx }}</span>
                                            <br>Ganho R$: <span class="float-right">R$ {{ batTotalCicloBRExInvestimento}}</span>
                                            <br>Ganho Percentual: <input type="text" v-model="lucroBatNegocie" disabled class="float-right" style="text-align: right;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-header">
                                        Histórico de Preço
                                    </div>
                                    <div class="card-body noBorder inDev">
                                        Em Desenvolvimento
                                        <!--iframe src="https://fabricadedinheiro.herokuapp.com/"></iframe-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                                <div class="col-md-12">
                                    <div class="card border-0 shadow-sm">
                                        <div class="card-header">
                                            Nos ajudem a continuar evoluindo
                                        </div>
                                        <div class="card-body">
                                            Para continuar evoluindo esta página e manter ela ativa de maneira gratuita a todos, mantemos tudo apenas com doações, se achar que a pagina ajuda!
                                            <ul>
                                                <li>BTC: 18Z2HXTN4axPNC6eKBkJE85f6dnDFVfRQu</li>
                                            </ul>
                                            cyph3rpunks@protonmail.com
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                    </div>
                    <div class="col-md-6">
                        <div class="row mbfix chartsV">
                            <div class="card border-0 shadow-sm col-md-12 noBorder">
                                <div class="card-header">
                                    Negocie Reflete
                                </div>
                                <div class="card-body noBorder">
                                    <div id="chart-container" style="height: 300px; width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mbfix chartsV">
                            <div class="card border-0 shadow-sm col-md-12 noBorder" >
                                <div class="card-header">
                                    Bat Reflete
                                </div>
                                <div class="card-body noBorder">
                                    <div id="chart-container-ethusdt" style="height: 300px; width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mbfix chartsV">
                            <div class="card border-0 shadow-sm col-md-12 noBorder" >
                                    <div class="card-header">
                                        Tem Reflete
                                    </div>
                                    <div class="card-body noBorder">
                                        <div id="chart-container-ethbtc" style="height: 300px; width: 100%"></div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                
               
        </main>
    </div>
    <script>
        axios.all([
            axios.get('https://broker.batexchange.com.br/api/v3/ethbrl/ticker'),
            axios.get('https://broker.tembtc.com.br/api/v3/ethbtc/ticker'),
            axios.get('https://broker.tembtc.com.br/api/v3/btcbrl/ticker'),
            axios.get('https://broker.negociecoins.com.br/api/v3/btcbrl/ticker')
        ])
        .then(
            axios.spread(
                function (getBatEthBrl, getTemEthBtc, getTemBtcBrl, getNegocieBtcBrl) {
                    console.log(getBatEthBrl, getTemEthBtc, getTemBtcBrl, getNegocieBtcBrl)
                    // if (that.batEthBrlUpdate === true) {
                    //     that.batEthBrl_ultimoPreco = getBatEthBrl.data.last,
                    //     that.batEthBrl_data = getTime(getBatEthBrl.data.date),
                    //     that.batEthBrl_maiorPreco = getBatEthBrl.data.high,
                    //     that.batEthBrl_menorPreco = getBatEthBrl.data.low
                    // }
                    // if (that.temEthBtcUpdate === true) {
                    //     that.temEthBtc_ultimoPreco = getTemEthBtc.data.last,
                    //     that.temEthBtc_data = getTime(getTemEthBtc.data.date),
                    //     that.temEthBtc_maiorPreco = getTemEthBtc.data.high,
                    //     that.temEthBtc_menorPreco = getTemEthBtc.data.low
                    // }
                    // if (that.temBtcBrlUpdate === true) {
                    //     that.temBtcBrl_ultimoPreco = getTemBtcBrl.data.last,
                    //     that.temBtcBrl_data = getTime(getTemBtcBrl.data.date),
                    //     that.temBtcBrl_maiorPreco = getTemBtcBrl.data.high,
                    //     that.temBtcBrl_menorPreco = getTemBtcBrl.data.low
                    // }
                    // if (that.negocieBtcBrlUpdate === true) {
                    //     that.negocieBtcBrl_ultimoPreco = getNegocieBtcBrl.data.last,
                    //     that.negocieBtcBrl_data = getTime(getNegocieBtcBrl.data.date),
                    //     that.negocieBtcBrl_maiorPreco = getNegocieBtcBrl.data.high,
                    //     that.negocieBtcBrl_menorPreco = getNegocieBtcBrl.data.low
                    // }

                }
            )
        )
        
    </script>

    <script>
        var opts =  {
            "timePeriod": "1m",
            "width": 650,
            "presetColorScheme": "standard"
        };

        var chart = new cryptowatch.Embed('binance', 'btcusdt',opts);

        var chartETHUSDT = new cryptowatch.Embed('binance', 'ethusdt',opts);

        var chartETHBTC = new cryptowatch.Embed('binance', 'ethbtc',opts);

        chart.mount('#chart-container');

        chartETHUSDT.mount('#chart-container-ethusdt');

        chartETHBTC.mount('#chart-container-ethbtc');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140041838-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-140041838-1');

    console.log(`Code Forked from: http://138.219.129.170/dashboard_teste`)
    console.log(`Change Trade In View for cryptowatch`)
    console.log(`Improve Performance and Time`)
    </script>
    

</body>
</html>
