<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Trade Bits</title>
    <meta name="description" content="O Trade Bits, tem como foco auxiliar traders a realizarem suas arbitragens de maneira mais simples, informando sobre o mercado externo e capturando dados das exchanges brasileiras, para facilitar o giro entre as Exchanges que fazem parte do Grupo Bitcoin Banco">


    <meta property="og:image" content="https://repository-images.githubusercontent.com/186548736/592f6f00-75fc-11e9-933d-2f1034f44396" />
    <meta property="og:site_name" content="GitHub" />
    <meta property="og:type" content="object" />
    <meta property="og:title" content="Trade Bits" />
    <meta property="og:url" content="http://tradebits.exchange" />
    <meta property="og:description" content="O Trade Bits, tem como foco auxiliar traders a realizarem suas arbitragens de maneira mais simples, informando sobre o mercado externo e capturando dados das exchanges brasileiras, para facilitar o giro entre as Exchanges que fazem parte do Grupo Bitcoin Banco"/>
    <meta name="robots" content="index, follow">
    <link href="http://tradebits.exchange" rel="canonical">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="js/axios.js"></script>
    <script type="text/javascript" src="https://static.cryptowat.ch/assets/scripts/embed.bundle.js"></script>

    <link rel="shortcut icon" href="images/tradebit.gif" type="image/x-icon">
    <link rel="icon" href="images/tradebit.gif" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/custom.css" rel="stylesheet">
</head>
<body ng-app="TradeBits">
    <div ng-controller="TradeBitsCtrl">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
            <div class="container">
                <a class="navbar-brand logo" href="index.html">
                    <img src="images/tradebit.gif" class="bits-logo">
                    <span>Trade Bits</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="menuOnMobile">
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <!-- Left Side Of Navbar -->
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a href="#" data-scroll="#config" class="target">
                                    Configurações
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" data-scroll="#cotation" class="target">
                                    Cotação
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" data-scroll="#cicle" class="target">
                                    Ciclo
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" data-scroll="#data" class="target">
                                    Histórico de Preço
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" data-scroll="#donation" class="target">
                                    Doações
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" data-scroll="#chartins" class="target">
                                    Gráficos
                                </a>
                            </li>
                        </ul>

                        <!-- Right Side Of Navbar -->
                    </div>
                </div>

            </div>
        </nav>
         <div id="updateAlert" class="toast"  data-autohide="false">
            <div class="toast-header">
            <img src="images/tradebit.gif" class="rounded mr-2" alt="Trade Bits">
            <strong class="mr-auto">{{toastr.title}}</strong>
            <small>{{toastr.time}}</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="toast-body">
                {{toastr.msg}}
            </div>
        </div>
        <main class="py-4">
            <div class="container" id="app">
                <div class="row">
                    <div class="col-md-6 page">
                        <div class="row" id="data">
                            <div class="col-md-12">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-header">
                                        Histórico de Preço
                                    </div>
                                    <div class="card-body noBorder historyPrices">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                <th scope="col">Update</th>
                                                <th scope="col">Bat ETH</th>
                                                <th scope="col">Tem ETH</th>
                                                <th scope="col">Tem BTC</th>
                                                <th scope="col">Neg BTC</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="row in history | reverse">
                                                <td>{{row.lastUpdate}}</td>
                                                <td class="{{row.batEthClass}}">{{row.batEth | currency : "" : 2}}</td>
                                                <td class="{{row.temEthClass}}">{{row.temEth | currency : "" : 4}}</td>
                                                <td class="{{row.temBtcClass}}">{{row.temBtc | currency : "" : 2}}</td>
                                                <td class="{{row.negBtcClass}}">{{row.negBtc | currency : "" : 2}}</td>
                                                </tr>
                                            </tbody>
                                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row" id="cicle">
                            <div class="col-md-6 onMobileNeedSpace">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-header">
                                        Tem
                                            >
                                        Negocie
                                    </div>
                                    <div class="card-body">
                                        <h6>
                                            <strong>Dados do ciclo</strong>
                                        </h6>
                                        <ul>
                                            <li class="border-bottom">
                                                Entrada:
                                                <span class="float-right" id="enterTN">{{cicleTN.enterTN | currency : "R$ " : 2}}</span>
                                            </li>
                                            <li class="border-bottom">
                                                Saida:
                                                <span class="float-right" id="outTN">{{cicleTN.outTN | currency : "R$ " : 2}}</span>
                                            </li>
                                            <li class="border-bottom">
                                                Ganho BRL:
                                                <span class="float-right" id="BrlRewardTN">{{cicleTN.BrlRewardTN | currency : "R$ " : 2}}</span>
                                            </li>
                                            <li class="border-bottom">
                                                Ganho %:
                                                <span class="float-right" id="PercentRewardTN">{{cicleTN.PercentRewardTN | currency : "" : 4}}</span>
                                            </li>
                                            <li class="border-bottom">
                                                Taxa paga BTC:
                                                <span class="float-right" id="BtcTaxTN">{{cicleTN.BtcTaxTN | currency : "" : 8}}</span>
                                            </li>
                                            <li class="border-bottom">
                                                Taxa paga BRL:
                                                <span class="float-right" id="BrlTaxTN">{{cicleTN.BrlTaxTN | currency : "R$ " : 2}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-header">
                                        Bat
                                            >
                                        Tem
                                            >
                                        Neg
                                    </div>
                                    <div class="card-body">
                                        <h6>
                                            <strong>Dados do ciclo</strong>
                                        </h6>
                                        <ul>
                                            <li class="border-bottom">
                                                Entrada:
                                                <span class="float-right" id="enterBTN">{{cicleBTN.enterBTN | currency : "R$ " : 2}}</span>
                                            </li>
                                            <li class="border-bottom">
                                                Saida:
                                                <span class="float-right" id="outBTN">{{cicleBTN.outBTN | currency : "R$ " : 2}}</span>
                                            </li>
                                            <li class="border-bottom">
                                                Ganho BRL:
                                                <span class="float-right" id="BrlRewardBTN">{{cicleBTN.BrlRewardBTN | currency : "R$ " : 2}}</span>
                                            </li>
                                            <li class="border-bottom">
                                                Ganho %:
                                                <span class="float-right" id="PercentRewardBTN">{{cicleBTN.PercentRewardBTN | currency : "" : 4}}</span>
                                            </li>
                                            <li class="border-bottom">
                                                Taxa paga ETH:
                                                <span class="float-right" id="EthTaxBTN">{{cicleBTN.EthTaxBTN | currency : "" : 8}}</span>
                                            </li>
                                            <li class="border-bottom">
                                                Taxa paga BTC:
                                                <span class="float-right" id="BtcTaxBTN">{{cicleBTN.BtcTaxBTN | currency : "" : 8}}</span>
                                            </li>
                                            <li class="border-bottom">
                                                Taxa paga BRL:
                                                <span class="float-right" id="BrlTaxBTN">{{cicleBTN.BrlTaxBTN | currency : "R$ " : 2}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 onMobileNeedSpace">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-header">
                                        Como Usar
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            <li>
                                                Configure os dados: <br>
                                                <strong>Entrada de ciclo em BRL</strong>,
                                                <strong>Taxa Ativa de Operação</strong>,
                                                <strong>Taxa Passiva de Operação</strong>,
                                                <strong>Taxa de Saque de Crypto</strong> e
                                                <strong>Taxa de Saque de Brl</strong>

                                            </li>
                                            <li>Acompanhe o giro e informe caso o valor de ganho não esteja de acordo!</li>
                                        </ul>
                                        <strong> Bons Ganhos! </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" id="config">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-header">
                                        Configurações
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="card-text">
                                                    Entrada de Ciclo
                                                </span>
                                                <br>
                                                <div class="form-row">
                                                    <div class="col-md-12">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" id="basic-addon2">R$</span>
                                                            </div>
                                                            <input type="tel" ng-model="config.FoundEnter" class="form-control" placeholder="10.000,00" ui-number-mask>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="card-text">
                                                    Taxas
                                                </span>
                                                <br>
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <small>Oferta Ativa</small>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" id="basic-addon2">%</span>
                                                            </div>
                                                            <input type="tel" ng-model="config.OfferAct" class="form-control" placeholder="0.5%" ui-number-mask>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <small>Oferta Passiva</small>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" id="basic-addon2">%</span>
                                                            </div>
                                                            <input type="tel" ng-model="config.OfferPass" class="form-control" placeholder="0.3%" ui-number-mask>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <small>Saque BTC</small>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" id="basic-addon2">0</span>
                                                            </div>
                                                            <input type="tel" ng-model="config.WithdrawCrypto" class="form-control" placeholder="0.0003" ui-number-mask="4">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <small>Saque ETH</small>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" id="basic-addon2">0</span>
                                                            </div>
                                                            <input type="tel" ng-model="config.WithdrawCryptoETH" class="form-control" placeholder="0.0003" ui-number-mask="4">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <small>Saque BRL</small>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" id="basic-addon2">%</span>
                                                            </div>
                                                            <input type="tel" ng-model="config.WithdrawFiat" class="form-control" placeholder="0.9%" ui-number-mask=>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row" id="cotation">
                            <div class="col-md-6 onMobileNeedSpace">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-header">
                                        Bat BRL/ETH
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            <li class="border-bottom">
                                                <small class="text-primary">Atual</small>
                                                <span id="lastETHBat" class="float-right">{{lastETHBat | currency : "R$ " : 2 }}</span>
                                            </li>
                                            <li class="border-bottom" ng-show="lastETHBatOld > 0">
                                                <small class="text-primary">Anterior</small>
                                                <span id="lastETHBat" class="float-right">{{lastETHBat | currency : "R$ " : 2 }}</span>
                                            </li>
                                            <li class="border-bottom">
                                                <i class="fas fa-chevron-circle-up text-success"></i>
                                                <span id="highETHBat" class="float-right">{{highETHBat | currency : "R$ " : 2 }}</span>
                                            </li>
                                            <li class="border-bottom">
                                                <i class="fas fa-chevron-circle-down text-danger"></i>
                                                <span id="lowETHBat" class="float-right">{{lowETHBat | currency : "R$ " : 2 }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 onMobileNeedSpace">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-header">
                                        Tem BTC/ETH
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            <li class="border-bottom">
                                                <small class="text-primary">Atual</small>
                                                <span id="lastETHTem" class="float-right">{{lastETHTem | currency : "" : 8 }}</span>
                                            </li>
                                            <li class="border-bottom" ng-show="lastETHTemOld > 0">
                                                <small class="text-primary">Anterior</small>
                                                <span id="lastETHTemOld" class="float-right">{{lastETHTemOld | currency : "" : 8 }}</span>
                                            </li>
                                            <li class="border-bottom">
                                                <i class="fas fa-chevron-circle-up text-success"></i>
                                                <span id="highETHTem" class="float-right">{{highETHTem | currency : "" : 8 }}</span>

                                            </li>
                                            <li class="border-bottom">
                                                <i class="fas fa-chevron-circle-down text-danger"></i>
                                                <span id="lowETHTem" class="float-right">{{lowETHTem | currency : "" : 8 }}</span>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="col-md-6 onMobileNeedSpace">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-header">
                                        Tem BRL/BTC
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            <li class="border-bottom">
                                                <small class="text-primary">Atual</small>
                                                <span id="lastBTCTem" class="float-right">{{lastBTCTem | currency : "R$ " : 2 }}</span>
                                            </li>
                                            <li class="border-bottom" ng-show="lastBTCTemOld > 0">
                                                <small class="text-primary">Anterior</small>
                                                <span id="lastBTCTem" class="float-right">{{lastBTCTem | currency : "R$ " : 2 }}</span>
                                            </li>
                                            <li class="border-bottom">
                                                <i class="fas fa-chevron-circle-up text-success"></i>
                                                <span id="highBTCTem" class="float-right">{{highBTCTem | currency : "R$ " : 2 }}</span>
                                            </li>
                                            <li class="border-bottom">
                                                <i class="fas fa-chevron-circle-down text-danger"></i>
                                                <span id="lowBTCTem" class="float-right">{{lowBTCTem | currency : "R$ " : 2 }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-header">
                                        NegocieCoins
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            <li class="border-bottom">
                                                <small class="text-primary">Atual</small>
                                                <span id="lastBTCNegocieCoins" class="float-right">{{lastBTCNegocieCoins | currency : "R$ " : 2 }}</span>
                                            </li>
                                            <li class="border-bottom" ng-show="lastBTCNegocieCoinsOld > 0">
                                                <small class="text-primary">Anterior</small>
                                                <span id="lastBTCNegocieCoins" class="float-right">{{lastBTCNegocieCoins | currency : "R$ " : 2 }}</span>
                                            </li>
                                            <li class="border-bottom">
                                                <i class="fas fa-chevron-circle-up text-success"></i>
                                                <span id="highBTCNegocieCoins" class="float-right">{{highBTCNegocieCoins | currency : "R$ " : 2 }}</span>
                                            </li>
                                            <li class="border-bottom">
                                                <i class="fas fa-chevron-circle-down text-danger"></i>
                                                <span id="lowBTCNegocieCoins" class="float-right">{{lowBTCNegocieCoins | currency : "R$ " : 2 }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row" id="donation">
                                <div class="col-md-12">
                                    <div class="card border-0 shadow-sm">
                                        <div class="card-header">
                                            Nos ajudem a continuar evoluindo
                                        </div>
                                        <div class="card-body">
                                            Para continuar evoluindo esta página e manter ela ativa de maneira gratuita a todos, mantemos tudo apenas com doações, se achar que a pagina ajuda!
                                            <ul>
                                                <li>
                                                    <i class="fab fa-btc"></i>
                                                    <a target="_blank" href="https://www.blockchain.com/btc/address/1C7Nr2RNiTADqbWVrFkc1tLpb4JxmwAmgt">1C7Nr2RNiTADqbWVrFkc1tLpb4JxmwAmgt</a>
                                                </li>
                                            </ul>
                                            <hr>
                                            Para pedidos especiais<br>
                                            <ul>
                                                <li>
                                                    <i class="far fa-envelope-open"></i>
                                                    cyph3rpunks@protonmail.com
                                                </li>
                                            </ul>
                                            <hr>
                                            O conhecimento é livre e nosso código também<br>
                                            <ul>
                                                <li>
                                                    <a target="_blank" href="https://github.com/Cyph3rPunks/tradebits">
                                                        <i class="fab fa-github"></i>
                                                        Github
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col-md-6 page2" id="chartins">
                        <div class="row mbfix chartsV">
                            <div class="card border-0 shadow-sm col-md-12 noBorder" >
                                <div class="card-header">
                                    Negocie
                                </div>
                                <div class="noBorder">
                                      <iframe id="tvc_frame_26ef116648537ca8b7bfaf1f85901891" seamless="seamless" src="https://tvc4.forexpros.com/init.php?family_prefix=tvc4&amp;carrier=39c3b5bad97e907fb0fd28ef541075bb&amp;time=1558571001&amp;domain_ID=30&amp;lang_ID=12&amp;timezone_ID=12&amp;pair_ID=1061251&amp;interval=900&amp;refresh=8&amp;session=24x7&amp;client=1&amp;user=206588362&amp;width=650&amp;height=750&amp;init_page=instrument&amp;m_pids=&amp;watchlist=&amp;site=https://br.investing.com" width="650" height="750" style="width: 100%; height: 500px; display: inline;"></iframe>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="row mbfix chartsV">
                            <div class="card border-0 shadow-sm col-md-12 noBorder">
                                <div class="card-header">
                                    Negocie Reflete
                                </div>
                                <div class="card-body noBorder">
                                    <div id="chart-container" style="height: 300px; width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mbfix chartsV">
                            <div class="card border-0 shadow-sm col-md-12 noBorder" >
                                    <div class="card-header">
                                        Tem Reflete
                                    </div>
                                    <div class="card-body noBorder">
                                        <div id="chart-container-ethbtc" style="height: 300px; width: 100%"></div>
                                    </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mbfix chartsV">
                            <div class="card border-0 shadow-sm col-md-12 noBorder" >
                                <div class="card-header">
                                    Bat Reflete
                                </div>
                                <div class="card-body noBorder">
                                    <div id="chart-container-ethusdt" style="height: 300px; width: 100%"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


        </main>
    </div>

    <script>
        var opts =  {
            "timePeriod": "1m",
            "presetColorScheme": "kraken-light",
            "scrolling": 1
        };

        var chart = new cryptowatch.Embed('binance', 'btcusdt',opts);

        var chartETHUSDT = new cryptowatch.Embed('binance', 'ethusdt',opts);

        var chartETHBTC = new cryptowatch.Embed('binance', 'ethbtc',opts);

        chart.mount('#chart-container');

        chartETHUSDT.mount('#chart-container-ethusdt');

        chartETHBTC.mount('#chart-container-ethbtc');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140041838-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-140041838-1');


    </script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" rossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="js/app.js"></script>
    <script src='js/ngMask.min.js'></script>
    <script src="js/money-mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-input-masks/4.3.0/angular-input-masks-standalone.min.js"></script>
    <script>
        var fix_header_height = 80

        $('.target').click(function () {
            $([document.documentElement, document.body]).animate({
                scrollTop: $($(this).attr('data-scroll')).offset().top - fix_header_height
            }, 2000);
            $('.navbar-collapse').collapse('hide');
        })
    </script>
</body>
</html>
